@import url("https://fonts.googleapis.com/css2?family=Hanalei&family=Montserrat:wght@300;400;500&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4158d0;
  height: auto;
}

* {
  font-family: "Montserrat", sans-serif;
  color: rgb(63, 59, 59);
  --button-color: "#3414c0";
}

#tsparticles {
  height: 100%;
  width: 100%;
}
